# Managed by portfolio server_operations
[Journal]
SystemMaxUse={{ server_operations_journal_system_mb }}M
RuntimeMaxUse={{ server_operations_journal_runtime_mb }}M
SystemKeepFree={{ server_operations_journal_keep_free_mb }}M
MaxRetentionSec={{ server_operations_journal_retention_days }}day
Compress=yes
